
<div class="fixed-bottom">
    <footer class="footer"> 

        <div class="container">    
            <p>Copyright &copy 2020 AZkart. All Rights Reserved.</p>
            <p><a href="/dev">Developer Team</a></p>
        
        </div>
    </footer>
    
</div>
    
</body>
</html>