<footer class="footer"> 
    <div class="container">
    
        <p>Copyright &copy AZkart. All Rights Reserved. | Contact Us: NumberDalna hai toh yaha daalo</p>
        <p>This website is developed by ..... APNA NAAM WAGERA DALENGE </p>
    
    </div>
</footer>
    
</body>
</html>