/* GENERAL BODY STYLING */
html { 
    min-height:100%;
    position:relative;    
} 
/* GENERAL BODY STYLING */

/* FOOTER STYLING */
.blank{
    margin-bottom: 125px;
}

.footer{
    background-color:#101010;
    color:#9d9d9d;
    font-size:14px;
    font-weight:bold;
    padding:10px;    
    width: 100%;
    text-align: center;
}
/* FOOTER STYLING */

/* PRODUCT STYLING */
#ADD{
    height: 155px;
    width: 75%;
}

.img-thumbnail h5{
    font-weight: 400;
}

.rightside .img-fluid {
    width: 660px;
    height: 120px;
    text-align: center;
}

.rightside , .category{
    margin-top: 20px;
}
/* PRODUCT STYLING */

/* NAVBAR STYLING */
a.navbar-brand{
    padding-left: 10px;
}

    /* SEARCH BAR */
    .searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #353b48;
    border-radius: 30px;
    /* padding: 10px; */
    text-align: center;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
        padding: 0 10px;
        width: 220px;
        caret-color:blue;
        transition: width 0.4s linear;
        }
    
        .searchbar:hover > .search_icon{
        background: white;
        color: crimson;
        }
    
        .search_icon{
        height: 40px;
        width: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color:white;
        text-decoration:none;
        }
    /* SEARCH BAR */
/* NAVBAR STYLING */


/* SHOWPAGE STYLING */
div#showpage.card{
    width: 75%;
    margin-bottom: 75px;
    margin-top: 50px;
}

.card-img-top{
    max-height: 580px;
}

.cardheader p{
    font-weight: 700;
}
.card-body h6{
    margin-top : 65px;
    font-weight: 500;
    word-spacing: .3em;
}

div#showcomments.card{
    margin-bottom: 200px;
    width: 75%;
}

/* SHOWPAGE STYLING */