<%- include('../partials/header'); -%>


<div class="container">
    <!-- MAIN HEADING -->
    <div class="row banner">
        <div class="col md-4">
            <strong><h3 style="color:grey;">AZCART ( 0  : items)</h3></strong>
        </div>
    </div>

    <div class="card mx-auto" style="width: 80% ;">
      <div class="card-body">
        <h5 class="card-title">SHOPPING CART EMPTY</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text">Your Shopping Cart lives to serve. Give it purpose--fill it with books, CDs, videos, DVDs, electronics, and more.
          Continue shopping on the <a href="/HomePage">AZkart</a> homepage. <a href="/login">LOGIN</a> to avail more offers      
        </p>
      </div>
    </div>
  
</div>  



<%- include('../partials/footer'); -%>
